<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true">
	<targets>

		<target xsi:type="File"
				name="logfile"
				fileName="${processname} ${date:format=yy-MM-dd}.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="14"
				concurrentWrites="true"
				keepFileOpen="true"
				layout="${date:format=dd.MM.yy HH\:mm\:ss.fff} [${threadid}] ${level:uppercase=true:padding=-5} ${logger:shortName=false} - ${message}"
				header="${processname} v.${assembly-version} started on ${date:format=dd.MM.yy HH\:mm\:ss}. Machine: ${machinename}. User: ${identity}"
				footer="${processname} v.${assembly-version} stopped on ${date:format=dd.MM.yy HH\:mm\:ss}. Machine: ${machinename}. User: ${identity}"/>

		<target xsi:type="NLogViewer"
				name="viewer"
				includeSourceInfo="true"
				newLine="true"
				address="tcp4://127.0.0.1:9999"/>

		<target xsi:type="ColoredConsole"
				name="console"
				layout="${date:format=dd.MM.yy HH\:mm\:ss.fff} [${threadid}] ${level:uppercase=true:padding=-5} ${logger:shortName=false} - ${message}"
				header="${processname} v.${assembly-version} started on ${date:format=dd.MM.yy HH\:mm\:ss}. Machine: ${machinename}. User: ${identity}"
				footer="${processname} v.${assembly-version} stopped on ${date:format=dd.MM.yy HH\:mm\:ss}. Machine: ${machinename}. User: ${identity}"
          />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="console" />
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="*" minlevel="Trace" writeTo="viewer" />
	</rules>
</nlog>
